

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-modify-content></app-modify-content>
<app-messages [messages]="messages"></app-messages>
<label for="idInput">Enter an ID:</label>
<mat-form-field>
<input matInput type="text" [(ngModel)]="inputId" name="idInput">
</mat-form-field>
<button mat-button (click)="getContentCard()">Get Content Card</button>

  <app-content-card *ngIf="favoriteContent$ | async as favoriteContent"
                    [content]="favoriteContent" [style.box-shadow]="'0px 0px 5px #888888'"></app-content-card>
  <app-content-list></app-content-list>


