

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-modify-content></app-modify-content>
<app-messages [messages]="messages"></app-messages>
<label for="idInput">Enter an ID:</label>
<mat-form-field>
<input matInput type="text" [(ngModel)]="inputId" name="idInput">
</mat-form-field>
<button mat-button (click)="getContentCard()">Get Content Card</button>

<router-outlet></router-outlet>
  <app-content-list></app-content-list>


