.content-type-action {
  background-color: #f1c40f;
  color: white;
}

.content-type-comedy {
  background-color: #3498db;
  color: white;
}

.content-type-none {
  background-color: #ecf0f1;
  color:#34495e;
}
